.score {
  width: 100%;
  border: 2px solid black;
  border-collapse: collapse;
  text-align: center;
}
.playersname th {
  border: 2px solid black;
  border-collapse: collapse;
}
td {
  border-left: 2px solid black;
}
#shop {
  width: 50%;
  position: absolute;
  right: 0.1px;
  top: 30%;
  border: 1px solid black;
  border-collapse: collapse;
}
tr {
  text-align: center;
  border: 1px solid black;
  border-collapse: collapse;
}
.buttonholder {
  position: absolute;
  top: 100px;
  left: 30%;
}
.stime {
  height: 30px;
  width: 200px;
  border-radius: 20px;
  font-size: 10px;
}
