.score {
  width: 100%;
  border: 2px solid black;
  border-collapse: collapse;
  text-align: center;

.playersname th {
  border: 2px solid black;
  border-collapse: collapse;
}
.playersc,
td {
  border-left: 2px solid black;
}
#shop {
  width:50%;
  position:absolute;
  right:.1px;
  top:30%;
  border:1px solid black;
  border-collapse: collapse;

  }
tr{
  text-align:center;
  border:1px solid black;
  border-collapse: collapse;

  }
.stime{
  position: absolute;
  top: 100px;
  left:500px;
}